@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");


*{
    box-sizing: border-box;
}

body {
    font-family: 'Gloock', serif;
    min-height: 100vh;
    background: linear-gradient(to right top, #b35a20 ,#e8891d, #bfd5c9 ,#05a3a4 ,#006373);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 450px;
    background: rgba(255, 255, 255, .5);
    padding: 4rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header{
    margin-bottom: 0.5rem;
    font-size: 50px;
    text-align: center;
    color: #393939;
}

.back button{
    background: #505050;
    color: white;
    padding: 1rem;
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background .5s;
    text-align: center;
    align-items: center;
    position: relative;
}

.back button:hover{
    background-color: #000000;
    cursor: pointer;
}